{% extends 'portal/base.html' %}
{% block content%}
<h1>{{ event.name }}</h1>
<li>{{ event.description }}</li>
<p>Organizer: {{ event.creator }}</p>
    {% if user.profile not in attendees %}
        {% if event.team_size == 1 %}
        <form action="{% url 'portal:register' event.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Register">
        </form>
        {% else %}
        <h5>Click Here</h5>
        {% endif %}
    {% else %}
      {% if event.time_period == "Future" %}
        <form action="{% url 'portal:unregister' event.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Un-register">
        </form>
        {% endif %}
    {% endif %}
{% endblock %}