{% extends 'portal/base.html' %}
{% load static %}
{% block title %} Winners {% endblock %}
{% block content %}


<section class="aboutus" id="clubs">
    <div class="container">
        <div class="heading text-center">
            <img class="dividerline" src='{% static "images/sep.png" %}' alt="">
            <h2>Winners</h2>
            <img class="dividerline" src='{% static "images/sep.png" %}' alt="">
            <div class="raw">
                <div class="col-md-4"><h2>Event name</h2></div>
                <div class="col-md-4"><h2>Start</h2></div>
                <div class="col-md-4"><h2>End</h2></div>
                {% for event in events_list %}
                <div class="col-md-4">
                    <h5><a href="{% url 'portal:detail' event.id %}" class="btn btn-info">{{ event.name }}</a></h5>
                </div>
                <div class="col-md-4"><h3>{{event.start}}</h3></div>
                <div class="col-md-4"><h3>{{event.end}}</h3></div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
