{% extends 'portal/base.html' %}
{% load static %}
{% block title %} Winners {% endblock %}
{% block content %}

<div id="home" class="banner-area">
	<!-- Backgound Image -->
	<div class="bg-image bg-parallax overlay" style="background-image:url({% static "images/drama1.jpg"%})"></div>
	<div class="home-wrapper">
		<div class="col-md-10 col-md-offset-1 text-center">
			<div class="home-content">
				  <h1 class="white-text">Winners</h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid eventss">
    <div class="container">
        {% for user in winners %}
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
            <h5 class="card-title">Winners for event {{event.name}}</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">First: {{user.first}}</li>
                <li class="list-group-item">Second: {{user.second}}</li>
                <li class="list-group-item">Third: {{user.third}}</li>
              </ul>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}