{% extends 'portal/base.html' %}
{% load static %}
{% block title %} Winners {% endblock %}
{% block content %}

<section class="aboutus" id="clubs">
  <div class="container">
    <div class="heading text-center">
      <img class="dividerline" src='{% static "images/sep.png" %}'alt="">
      <h2>Winners</h2>
      <img class="dividerline" src='{% static "images/sep.png" %}' alt="">
			<div class="raw">

					   <div class="col-md-3"><h2>Event name<h2></div>
						 <div class="col-md-3"><h2>First <h2></div>
						 <div class="col-md-3"><h2>Second<h2></div>
						 <div class="col-md-3"><h2>Third<h2></div>

						 <div class="col-md-3"><h3>Event name<h3></div>
						 <div class="col-md-3"><h3>First <h3></div>
						 <div class="col-md-3"><h3>Second<h3></div>
						 <div class="col-md-3"><h3>Third<h3></div>
			</div>
		</div>
	</div>
</section>

<!-- <div class="container-fluid eventss">
    <div class="container">
        {% for user in winners %}
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
            <h5 class="card-title">Winners for event {{event.name}}</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">First: {{user.first}}</li>
                <li class="list-group-item">Second: {{user.second}}</li>
                <li class="list-group-item">Third: {{user.third}}</li>
              </ul>
            </div>
        </div>

        {% endfor %}
    </div>
</div> -->
{% endblock %}
